<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">
          <strong>Please check your email</strong> for order confirmation.
        </p>
        <hr />
        <p></p>

        <p>
          {{ message }} <br />
          Order Id : <strong>{{ orderId }}</strong> <br />
          Items in cart :
          <strong>{{ products.length }}</strong>
        </p>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td>
              <img
                src="assets/img/{{ p.photo }}"
                alt="{{ p.nomVinyl }}"
                class="img-thumbnail"
                width="100px"
              />
            </td>
            <td>{{ p.nomVinyl }}</td>
            <!-- <td>{{ p.prixHT | currency: "EUR" }}</td>
            <td>{{ p.quantityOrdered }}</td> -->
          </tr>

          <tr class="border-0">
            <td style="border: none"></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{ cartTotal | currency: "EUR" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
