<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-12 col-sm-12 col-md-8">
      <div class="card">
        <div class="card-header pb-0 p-3">
          <div class="d-flex justify-content-between">
            <h6 class="mb-2">🎵Vinyls</h6>
            <a class="mb-2" routerLink="/addVinyl">➕ Add New Vinyl</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center">
            <thead>
              <th>📷Photo:</th>
              <th>✔️Name:</th>
              <th>📋Quantity</th>
              <th>💲Price</th>
              <th>Release</th>
              <th>🗑️Delete</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let product of products
                    | paginate
                      : {
                          id: 'page',
                          itemsPerPage: 3,
                          currentPage: page,
                          totalItems: totalLength
                        };
                  index as i
                "
              >
                <td class="text-center">
                  <div class="mr-5">
                    <img
                      src="assets/img/{{ product['photo'] }}"
                      width="100"
                      height="100"
                      alt="Country flag"
                    />
                  </div>
                </td>
                <td>
                  <h6 class="text-sm mb-0">
                    ✔️
                    {{
                      product["nomVinyl"].length > 15
                        ? (product["nomVinyl"] | slice: 0:15) + "..."
                        : product["nomVinyl"]
                    }}
                  </h6>
                </td>
                <td>
                  <h6 class="text-sm mb-0">
                    📋 {{ product["quantite_dispo"] }}
                  </h6>
                </td>
                <td>
                  <h6 class="text-sm mb-0">
                    💶 {{ product["prixHT"] | currency: "EUR" }}
                  </h6>
                </td>
                <td class="text-sm">
                  <h6 class="text-sm mb-0">📅 {{ product["annee_sortie"] }}</h6>
                </td>
                <td class="text-sm text-center">
                  <div (click)="deleteVinyl(product['idVinyl'])">🗑️</div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            class="my-pagination"
            id="page"
            (pageChange)="page = $event"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
            style="bottom: 0"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-header pb-0 p-3">
          <div class="d-flex justify-content-between">
            <h6 class="mb-2">📋Users</h6>
            <a class="mb-2" routerLink="/addUser">➕ Add New User</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center" id="myTable">
            <thead>
              <th>📷Photo:</th>
              <th>✔️Name:</th>
              <th>🔑Password</th>
              <th>📧Email</th>
              <th>🗑️Delete</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let users of users
                    | paginate
                      : {
                          id: 'pageUser',
                          itemsPerPage: 3,
                          currentPage: pageUser,
                          totalItems: totalLengthUser
                        };
                  index as i
                "
              >
                <td>
                  <div class="ml-3">
                    <img
                      src="{{ users['photoUrl'] }}"
                      width="100"
                      height="110"
                      alt="{{ users.nom }}"
                    />
                  </div>
                </td>
                <td>
                  <div class="ml-2">
                    <!-- <p class="text-xs font-weight-bold mb-0">✔️Name:</p> -->
                    <h6 class="text-sm mb-0">
                      <!-- {{ users["nom"] }} {{ users["prenom"] }} -->
                      ✔️{{
                        users["prenom"].length > 15
                          ? (users["prenom"] | slice: 0:15) + "..."
                          : users["prenom"]
                      }}
                    </h6>
                  </div>
                </td>
                <td>
                  <p class="text-sm mb-0">
                    🔑{{
                      users["mdp"].length > 10
                        ? (users["mdp"] | slice: 0:15) + "..."
                        : users["mdp"]
                    }}
                  </p>
                </td>
                <td>
                  <h6 class="text-sm mb-0">
                    📧{{
                      users["email"].length > 15
                        ? (users["email"] | slice: 0:15) + "..."
                        : users["email"]
                    }}
                  </h6>
                </td>
                <td class="text-sm">
                  <div (click)="deleteClient(users['idClient'])">🗑️</div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            class="my-pagination"
            id="pageUser"
            (pageChange)="pageUser = $event"
            style="bottom: 0"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
