<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <!-- <a href="./store.html" class="btn btn-outline-primary float-right"
        >See all</a
      > -->
      <h3 class="section-title">Nouveaux Vinyls</h3>
    </header>
    <!-- sect-heading -->
    <div>
      <div class="row">
        <div
          class="col-sm-6 col-md-4"
          *ngFor="let product of products; index as i"
        >
          <div class="card card-product-grid">
            <!-- <a href="./product-detail.html" class="img-wrap"> -->
            <img
              src="assets/img/{{ product['photo'] }}"
              (click)="selectProduct(product['idVinyl'])"
            />
            <!-- </a> -->
            <div
              class="
                col-md-12 col-lg-12
                d-flex
                align-items-center
                justify-content-between
              "
            >
              <figcaption class="p-4">
                <a href="./product-detail.html" class="title">
                  {{ product["nom"] }}</a
                >
                <a href="./product-detail.html" class="title">
                  {{ vinyl[i] }}</a
                >
                <div class="price mt-1">{{ prices[i] | currency: "EUR" }}</div>
                <!-- price-wrap.// -->
              </figcaption>
              <!-- <a routerLink="/cart" class="widget-header pl-3 ml-3"> -->
              <button
                class="btn btn-sm btn-outline-primary float-right"
                [disabled]="product['quantite_dispo'] < 1"
                (click)="addToCart(product['idVinyl'])"
              >
                {{
                  product["quantite_dispo"] > 1
                    ? "Add to cart"
                    : "Out of Stock"
                }}<i class="fa fa-shopping-cart"></i>
              </button>
              <!-- </a> -->
            </div>
          </div>
        </div>
        <!-- col.// -->
      </div>
    </div>
  </div>
</section>
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
