<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <!-- <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a data-toggle="tab" href="#tab1">Laptops</a>
              </li>
              <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
              <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
            </ul>
          </div> -->
        </div>
      </div>
      <!-- /section title -->
      <!-- {{ p[i]['photo'] }} -->
      <!-- Products tab & slick -->
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-4"
            *ngFor="let product of products; index as i"
          >
            <div class="col-12">
              <div class="products-tabs">
                <!-- tab -->
                <div id="tab1" class="tab-pane active">
                  <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                    <div class="product">
                      <div class="product-img">
                        <img
                          src="assets/img/{{ product['photo'] }}"
                          alt=""
                          (click)="selectProduct(product['idVinyl'])"
                        />
                      </div>
                      <div class="product-body">
                        <p
                          class="product-category"
                          (click)="selectProduct(product['idVinyl'])"
                        >
                          {{ product["nom"] }}
                        </p>
                        <h3 class="product-name">
                          <a href="#">{{ vinyl[i] }}</a>
                        </h3>
                        <h4 class="product-price">
                          {{ prices[i] | currency: "EUR" }}
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                          <button class="add-to-wishlist">
                            <i class="fa fa-heart-o"></i
                            ><span class="tooltipp">add to wishlist</span>
                          </button>
                          <!-- <button class="add-to-compare">
                            <i class="fa fa-exchange"></i
                            ><span class="tooltipp">add to compare</span>
                          </button> -->
                          <!-- <button class="quick-view">
                            <i class="fa fa-eye"></i
                            ><span
                              class="tooltipp"
                              (click)="selectProduct(product['idVinyl'])"
                              >quick view</span
                            >
                          </button> -->
                        </div>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">
                          <i class="fa fa-shopping-cart"></i>
                          {{
                            product["quantite_dispo"] > 1
                              ? "Add to cart"
                              : "Out of Stock"
                          }}
                        </button>
                      </div>
                    </div>
                    <!-- /product -->
                  </div>
                </div>
              </div>

              <!-- Products tab & slick -->
            </div>
          </div>
          <!-- Insert here if problem -->
        </div>
      </div>

      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
</div>
