<section class="section-intro padding-y-sm" *ngIf="email">
  <div class="container">
    <h1 class="h1">Bienvenue {{ email }}</h1>
  </div>
</section>
<section class="section-intro padding-y-sm">
  <div class="container">
    <div class="intro-banner-wrap">
      <img src="assets/images/banners/1.jpg" class="img-fluid rounded" />
    </div>
  </div>
  <!-- container //  -->
</section>
<section class="section-content padding-y-sm">
  <div class="container">
    <article class="card card-body">
      <div class="row">
        <div class="col-md-3">
          <article class="card card-body">
            <figure class="text-center">
              <span class="rounded-circle icon-md bg-primary"
                ><i class="fa fa-user white"></i
              ></span>
              <figcaption class="pt-4">
                <h5 class="title">Creative Strategy &amp; solution</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod
                </p>
              </figcaption>
            </figure>
            <!-- iconbox // -->
          </article>
          <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-3">
          <article class="card card-body">
            <figure class="text-center">
              <span class="rounded-circle icon-md bg-primary"
                ><i class="fa fa-truck white"></i
              ></span>
              <figcaption class="pt-4">
                <h5 class="title">Creative Strategy &amp; solution</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod
                </p>
              </figcaption>
            </figure>
            <!-- iconbox // -->
          </article>
          <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-3">
          <article class="card card-body">
            <figure class="text-center">
              <span class="rounded-circle icon-md bg-primary"
                ><i class="fa fa-star white"></i
              ></span>
              <figcaption class="pt-4">
                <h5 class="title">Creative Strategy &amp; solution</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod
                </p>
              </figcaption>
            </figure>
            <!-- iconbox // -->
          </article>
          <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-3">
          <article class="card card-body">
            <figure class="text-center">
              <span class="rounded-circle icon-md bg-primary"
                ><i class="far fa-clock white"></i
              ></span>
              <figcaption class="pt-4">
                <h5 class="title">Creative Strategy &amp; solution</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod
                </p>
              </figcaption>
            </figure>
            <!-- iconbox // -->
          </article>
          <!-- panel-lg.// -->
        </div>
        <!-- col // -->
      </div>
    </article>
  </div>
  <!-- container .//  -->
</section>
<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <!-- <a href="./store.html" class="btn btn-outline-primary float-right"
        >See all</a
      > -->
      <h3 class="section-title">New Vinyls</h3>
    </header>
    <!-- sect-heading -->
    <div class="input-group mb-3">
      <input
        type="search"
        name="search"
        class="form-control col-md-6"
        placeholder="Search"
        required=""
        [(ngModel)]="filterTerm"
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div>
      <div class="row">
        <div
          class="col-sm-12 col-md-6 col-lg-4"
          *ngFor="
            let product of products
              | filter: filterTerm
              | paginate
                : {
                    itemsPerPage: 3,
                    currentPage: page,
                    totalItems: totalLength
                  };
            index as i
          "
        >
          <div class="card card-product-grid">
            <!-- <div>
              <a class="btn-overlay" href="/"
                ><i class="fa fa-search-plus"></i> Quick view</a
              >
            </div> -->
            <img
              src="assets/img/{{ product['photo'] }}"
              (click)="selectProduct(product['idVinyl'])"
              alt="{{ product['nomVinyl'] }}"
            />

            <div
              class="
                col-md-12 col-lg-12
                d-flex
                align-items-center
                justify-content-between
              "
            >
              <figcaption class="p-4">
                <a class="title"> {{ product["nom"] }}</a>
                <a class="title">
                  {{
                    vinyl[i].length > 10
                      ? (vinyl[i] | slice: 0:8) + ".."
                      : vinyl[i]
                  }}</a
                >
                <div class="price mt-1">{{ prices[i] | currency: "EUR" }}</div>
              </figcaption>
              <button
                class="btn btn-sm btn-outline-primary float-right"
                [disabled]="product['quantite_dispo'] < 1"
                (click)="addToCart(product['idVinyl'])"
              >
                {{
                  product["quantite_dispo"] > 1
                    ? "Add to cart"
                    : "Out of Stock"
                }}<i class="fa fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- col.// -->
      </div>
    </div>
    <pagination-controls
      (pageChange)="page = $event"
      style="bottom: 0"
    ></pagination-controls>
  </div>
</section>
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<!-- dsaaaaaaaaaaaaaaaaaaaa -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <!-- ============================ COMPONENT BANNER 7 ================================= -->
      <div class="card-banner overlay-gradient" style="min-height: 230px">
        <div class="card-img-overlay white">
          <h3 class="card-title">
            Come and visit our store <br />
            to discover all our vinyls.
          </h3>
          <p class="card-text" style="max-width: 400px">
            Great collection of old/new generation. All the extraordinary taste
            will be satisfied.
          </p>
          <a href="" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
    </div>
    <!-- col.// -->
    <div class="col-md-4">
      <!-- ============================ COMPONENT BANNER 8  ================================= -->
      <div class="card-banner overlay-gradient" style="min-height: 230px">
        <div class="card-img-overlay text-white">
          <h5 class="card-title">Best products</h5>
          <p class="card-text">
            No matter how far along you are in your sophistication as an amateur
            musician, there is always one.
          </p>
        </div>
      </div>
      <!-- ============================ COMPONENT BANNER 8  END .// ================================= -->
    </div>
    <!-- col.// -->
  </div>
</div>
