<div class="container-fluid">
  <!-- WHEN THE CART IS EMPTY -->
  <div class="text-center my-5" *ngIf="cartData.data[0].numInCart === 0">
    <h4>Your cart is Empty</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">
      GO TO SHOP
    </button>
  </div>

  <!-- WHEN THE CART HAS ITEMS -->
  <ng-container *ngIf="cartData.data[0].numInCart !== 0">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><b>Shopping Cart</b></h4>
            </div>
            <div class="col align-self-center text-right text-muted">
              {{ cartData.data.length }} items
            </div>
          </div>
        </div>
        <div
          class="row border-top border-bottom"
          *ngFor="let c of cartData.data; let i = index"
        >
          <div class="row main align-items-center">
            <div class="col-2">
              <img
                class="img-fluid"
                src="assets/img/{{ c.product.photo }}"
                alt="{{ c.product.nomVinyl }}"
                width="100px"
                height="100px"
              />
            </div>
            <div class="col-4">
              <div class="row text-muted">
                {{ c.product.nomVinyl }}(
                <p class="text-success">In stock</p>
                {{ c.product.quantite_dispo }})
              </div>
              <div class="row">{{ c.product.nom }}</div>
            </div>
            <div class="col-4">
              <a [hidden]="c.numInCart !== 1">-</a>
              <a (click)="changeQuantity(i, false)" [hidden]="c.numInCart === 1"
                >-</a
              ><a class="border">{{ c.numInCart }}</a
              ><a (click)="changeQuantity(i, true)">+</a>
            </div>

            <div class="col-2">
              {{ c.product.prixHT | currency: "EUR"
              }}<span
                class="close"
                (click)="cartService.DeleteProductFromCart(i)"
                >&#10005;</span
              >
            </div>
          </div>
        </div>
        <div class="back-to-shop">
          <a routerLink="/">&larr;</a
          ><span class="text-muted">Back to shop</span>
        </div>
      </div>
      <div class="col-md-2 summary">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr />
        <div class="row">
          <div class="col" style="padding-left: 0">
            ITEMS {{ cartData.data.length }}
          </div>
          <div class="col text-right">{{ cartTotal | currency: "EUR" }}</div>
        </div>
        <form>
          <p>Reserve for:</p>
          <select>
            <option class="text-muted">1 day</option>
          </select>
          <p>GIVE CODE</p>
          <input id="code" placeholder="Enter your code" />
        </form>
        <div
          class="row"
          style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
        >
          <div class="col">TOTAL PRICE:</div>
          <div class="col text-right">{{ cartTotal | currency: "EUR" }}</div>
        </div>
        <!-- <button class="btn"> -->
        <a routerLink="/checkout" class="btn btn-danger btn-sm order-1"
          >Checkout</a
        >
        <!-- </button> -->
      </div>
    </div>
    <!-- </div> -->

    <div class="row">
      <div class="div col-md-12 d-flex mb-5">
        <div class="div col-md-12">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <a
                routerLink="/"
                class="btn btn-success btn-sm order-0 btnGreen p-3 h2"
                >Continue Shopping</a
              >
            </div>
            <div class="col-md-3"></div>
            <!-- <div class="col-md-2">
              <a routerLink="/checkout" class="btn btn-danger btn-sm order-1"
                >Checkout</a
              >
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </ng-container>
</div>
