<!-- <div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 d-flex mx-auto flex-column">
        <form novalidate #myform="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              class="form-control"
              id="email"
              type="email"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              id="password"
              type="password"
              [(ngModel)]="mdp"
              name="password"
              required
            />
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-around"
          >
            <button
              class="btn btn-primary btn-sm btn-block"
              (click)="login(myform)"
              [disabled]="myform.invalid && myform.touched"
            >
              Login
            </button>
            <hr />
            <h4 class="text-uppercase"><strong>Login Using</strong></h4>

            <button
              (click)="signInWithGoogle()"
              class="btn btn-danger btn-sm btn-block mt-4"
            >
              <span><i class="fa fa-google"></i> Google </span>
            </button>
          </div>
          <p>
            {{ error }}
          </p>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!--

 -->
<div class="container w-25">
  <div class="card-body">
    <h4 class="card-title mb-4">Sign in</h4>
    <form novalidate #myform="ngForm">
      <a
        href="#"
        class="btn btn-facebook btn-block mb-2"
        (click)="signInWithFacebook()"
      >
        <i class="fab fa-facebook-f"></i> &nbsp; Sign in with Facebook</a
      >
      <a class="btn btn-google btn-block mb-4" (click)="signInWithGoogle()">
        <i class="fab fa-google"></i> &nbsp; Sign in with Google</a
      >
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input
            class="form-control"
            id="email"
            type="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <!-- input-group.// -->
      </div>
      <!-- form-group// -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input
            class="form-control"
            id="password"
            type="password"
            [(ngModel)]="mdp"
            name="password"
            required
          />
        </div>
        <!-- input-group.// -->
      </div>
      <!-- form-group// -->
      <p class="text-danger">{{ error_message }}</p>
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" checked="" />
          <div class="custom-control-label">Remember</div>
        </label>
      </div>
      <!-- form-group form-check .// -->
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          (click)="login(myform)"
          [disabled]="myform.invalid && myform.touched"
        >
          Login
        </button>
      </div>
      <!-- form-group// -->
    </form>
  </div>
</div>
