<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-top padding-y">
      <div class="row">
        <aside class="col-md-4">
          <article class="mr-3">
            <a routerLink="/" class="brand-wrap mb-0">
              <img class="logo" src="assets/images/logo.png" />
              <img
                class="logo logo1"
                src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196"
              />
            </a>
            <p class="mt-3">
              Bateau Pirate is a french seller of vinyls dedicated to the good
              old music, as well as the newest hits of the year.
            </p>
            <div>
              <a
                class="btn btn-icon btn-primary"
                title="Facebook"
                target="_blank"
                href="#"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-icon btn-danger"
                title="Youtube"
                target="_blank"
                href="#"
                ><i class="fab fa-youtube"></i
              ></a>
              <a
                class="btn btn-icon btn-info"
                title="Twitter"
                target="_blank"
                href="#"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
          </article>
        </aside>
        <!-- <aside class="col-sm-3 col-md-2">
          <h6 class="title">About</h6>
          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Rules and terms</a></li>
            <li><a href="#">Blogs</a></li>
          </ul>
        </aside> -->
        <aside class="col-sm-4 col-md-3">
          <h6 class="title">Services</h6>
          <ul class="list-unstyled">
            <li><a href="#">Help center</a></li>
            <li><a href="#">Money refund</a></li>
            <li><a href="#">Terms and Policy</a></li>
            <li><a href="#">Open dispute</a></li>
          </ul>
        </aside>
        <aside class="col-sm-4 col-md-3">
          <h6 class="title">For users</h6>
          <ul class="list-unstyled">
            <li><a href="#"> User Login </a></li>
            <li><a href="#"> User register </a></li>
            <li><a href="#"> Account Setting </a></li>
            <li><a href="#"> My Orders </a></li>
            <li><a href="#"> My Wishlist </a></li>
          </ul>
        </aside>
        <aside class="col-sm-2 col-md-2">
          <h6 class="title">Our app</h6>
          <a href="#" class="d-block mb-2"
            ><img
              src="bootstrap-ecommerce-html/images/misc/appstore.png"
              height="40"
          /></a>
          <a href="#" class="d-block mb-2"
            ><img
              src="bootstrap-ecommerce-html/images/misc/playmarket.png"
              height="40"
          /></a>
        </aside>
      </div>
      <!-- row.// -->
    </section>
    <!-- footer-top.// -->

    <section class="footer-copyright border-top">
      <p target="_blank" class="float-right text-muted">
        <a href="#">Privacy &amp; Cookies</a> &nbsp; &nbsp;
        <a href="#">Accessibility</a>
      </p>
      <p class="text-muted">© 2020 Company All rights resetved</p>
    </section>
  </div>
  <!-- //container -->
</footer>
