<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="img-fluid">
        <ngx-avatar name="{{ getUserName() }}" size="250"></ngx-avatar>
        <!-- <img src="{{ getUserPhoto() }}" alt="" /> -->
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="profile-head">
        <h5>{{ getUserName() }}</h5>
        <h6>Provider: {{ getProvider() }}</h6>
        <p class="proile-rating">Role: {{ getRole() }}</p>
        <table
          class="table table-responsive table-bordered"
          *ngIf="orders.length !== 0"
        >
          <thead>
            <tr>
              <th>Date</th>
              <th>Photo</th>
              <th>Name</th>
              <th>ID Order</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let o of orders
                  | paginate
                    : {
                        itemsPerPage: 2,
                        currentPage: page,
                        totalItems: totalLength
                      }
              "
            >
              <td>{{ o.date_commande }}</td>
              <td>
                <img
                  src="assets/img/{{ o.photo }}"
                  alt="{{ o.nomVinyl }}"
                  class="img-thumbnail"
                  width="100px"
                />
              </td>
              <td>
                <!-- {{ o.nomVinyl }} -->
                {{
                  o.nomVinyl.length > 10
                    ? (o.nomVinyl | slice: 0:8) + ".."
                    : o.nomVinyl
                }}
              </td>
              <td>{{ o.idCommande }}</td>
              <td>{{ o.quantite }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="orders.length === 0">
          <h3>You have no orders.</h3>
          <br />
          <h5>
            Right after you pass an order, we will update the orders table for
            you :)
          </h5>
        </div>
        <pagination-controls
          *ngIf="orders.length !== 0"
          (pageChange)="page = $event"
          style="bottom: 0"
        ></pagination-controls>
      </div>
    </div>
    <div class="col-md-2">
      <input
        type="submit"
        class="profile-edit-btn"
        name="btnAddMore"
        value="Logout"
        (click)="logout()"
      />
      <input
        type="submit"
        class="profile-edit-btn mt-3"
        name="btnAddMore"
        value="Modify"
        (click)="navigateUpdate(id)"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="profile-work">
        <!-- <p>{{ o.date_commande }}</p>
          <p>{{ o.nomVinyl }}</p>
          <img src="assets/img/{{ o.photo }}" alt="" /> -->

        <!-- <a href="">Website Link</a><br /> -->
        <a href="">EMAIL : {{ getUserEmail() }}</a
        ><br />
        <!-- <a href="">Bootply Profile</a>
        <p>SKILLS</p>
        <a href="">Web Designer</a><br />
        <a href="">Web Developer</a><br />
        <a href="">WordPress</a><br />
        <a href="">WooCommerce</a><br />
        <a href="">PHP, .Net</a><br /> -->
      </div>
    </div>
  </div>
</div>
