<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<div class="card">
  <div class="row no-gutters">
    <aside class="col-sm-6 border-right">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <a href="#"><img src="assets/img/{{ product.photo }}" /></a>
        </div>
        <!-- img-big-wrap.// -->
        <div class="thumbs-wrap">
          <a href="#" class="item-thumb">
            <img src="assets/img/{{ product.photo }}"
          /></a>
          <a href="#" class="item-thumb">
            <img src="assets/img/{{ product.photo }}"
          /></a>
          <a href="#" class="item-thumb">
            <img src="assets/img/{{ product.photo }}"
          /></a>
        </div>
        <!-- thumbs-wrap.// -->
      </article>
      <!-- gallery-wrap .end// -->
    </aside>
    <main class="col-sm-6">
      <article class="content-body">
        <h2 class="title">{{ product.nomVinyl }}</h2>
        <h5>Description</h5>
        <p>
          {{ product.description }}
        </p>
        <h5>Chansons dans le vinyl:</h5>
        <div class="d-flex flex-wrap">
          <ul
            class="
              list-item
              cols-two
              text-primary
              d-flex
              flex-wrap
              justify-content-between
              p-1
            "
            *ngFor="let s of songs.songs; index as i"
          >
            <li>{{ s.nom }},</li>
            <!-- <li>Branded tongue and cuff</li>
          <li>Super fast and amazing</li>
          <li>Lorem sed do eiusmod tempor</li>
          <li>Easy fast and ver good</li>
          <li>Lorem sed do eiusmod tempor</li> -->
          </ul>
        </div>
        <p>
          Remaining:
          <span class="text-primary">{{ product.quantite_dispo }}</span>
        </p>

        <div class="h3 mb-4">
          <var class="price h4">{{ product.prixHT | currency: "EUR" }}</var>
        </div>
        <!-- price-wrap.// -->

        <div class="form-row">
          <div class="col-2">
            <select class="form-control">
              <option *ngFor="let s of songs.songs; index as i">
                {{ s.nom }}
              </option>
              <!-- <option>2</option>
              <option>3</option> -->
            </select>
          </div>

          <!-- col.// -->
          <!-- <div class="col-2">
            <select class="form-control">
              <option>Size</option>
              <option>XL</option>
              <option>MD</option>
              <option>XS</option>
            </select>
          </div> -->
          <div class="col">
            <div class="input-group input-spinner">
              <div class="input-group-prepend">
                <button
                  class="btn btn-light"
                  type="button"
                  id="button-plus"
                  (click)="Decrease()"
                >
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input
                type="number"
                [max]="
                  product?.quantite_dispo >= 1 ? product?.quantite_dispo : 0
                "
                min="1"
                readonly
                #quantity
                value="{{ product?.quantite_dispo >= 1 ? 1 : 0 }}"
                style="text-align: center"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-light"
                  type="button"
                  id="button-minus"
                  (click)="Increase()"
                >
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- input-group.// -->
          </div>
          <!-- col.// -->
          <div class="col-6">
            <button
              (click)="addToCart(product?.idVinyl)"
              class="btn btn-primary w-100"
              *ngIf="product.quantite_dispo >= 1"
            >
              Add to cart
              <i class="fas fa-shopping-cart"></i>
            </button>
            <button
              (click)="addToCart(product?.idVinyl)"
              class="btn btn-primary w-100"
              *ngIf="product.quantite_dispo == 0"
              disabled
            >
              Indisponible
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
          <!-- col.// -->
          <!-- <div class="col">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input
                  type="number"
                  [max]="
                    product?.quantite_dispo >= 1 ? product?.quantite_dispo : 0
                  "
                  min="1"
                  readonly
                  #quantity
                  value="{{ product?.quantite_dispo >= 1 ? 1 : 0 }}"
                />
                <span class="qty-up" (click)="Increase()">+</span>
                <span class="qty-down" (click)="Decrease()">-</span>
              </div>
            </div>
          </div> -->

          <!-- <div class="col">
            <a href="#" class="btn btn-light"> <i class="fas fa-heart"></i> </a>
          </div>  -->
          <!-- col.// -->
        </div>
        <!-- row.// -->
      </article>
      <!-- product-info-aside .// -->
    </main>
    <!-- col.// -->
  </div>
  <!-- row.// -->
</div>
