<ngx-spinner
  bdColor="rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
>
  <p style="font-size: 20px; color: black">Booking Order...</p>
</ngx-spinner>

<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="breadcrumb-header">Checkout</h3>
        <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li class="active">Checkout</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<div class="container w-75">
  <div class="row">
    <aside class="col-lg-7">
      <div class="card">
        <table class="table table-borderless table-shopping-cart">
          <thead class="text-muted">
            <tr class="small text-uppercase">
              <th scope="col">Product</th>
              <!-- <th scope="col" width="120">Quantity</th> -->
              <th scope="col" width="120">Price</th>
              <th scope="col" class="text-right" width="200"></th>
            </tr>
          </thead>
          <tbody *ngFor="let c of cartData.data; let i = index">
            <tr>
              <td>
                <figure class="itemside align-items-center">
                  <div class="aside">
                    <img
                      src="assets/img/{{ c.product.photo }}"
                      class="img-sm"
                    />
                  </div>
                  <figcaption class="info">
                    <a href="#" class="title text-dark">{{
                      c.product.nomVinyl
                    }}</a>
                    <p class="text-muted small">
                      {{ c.product.nomVinyl }}<br />
                      Categorie ID : {{ c.product.idCategorie }}
                    </p>
                  </figcaption>
                </figure>
              </td>

              <td>
                <div class="price-wrap">
                  <var class="price">{{
                    c.numInCart * c.product.prixHT | currency: "EUR"
                  }}</var>
                  <small class="text-muted"
                    >{{ c.numInCart }} X
                    {{ c.product.prixHT | currency: "EUR" }}
                  </small>
                </div>
                <!-- price-wrap .// -->
              </td>
              <td class="text-right">
                <!-- <a
                  data-original-title="Save to Wishlist"
                  title=""
                  href=""
                  class="btn btn-light"
                  data-toggle="tooltip"
                >
                  <i class="fa fa-heart"></i
                ></a> -->
                <button
                  href=""
                  class="btn btn-light"
                  (click)="cartService.DeleteProductFromCart(i)"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="card-body border-top">
          <p class="icontext">
            <i class="icon text-success fa fa-truck"></i> Free Delivery within
            1-2 weeks
          </p>
        </div>
        <!-- card-body.// -->
      </div>
      <!-- card.// -->
    </aside>
    <!-- col.// -->
    <aside class="col-lg-5">
      <div class="card mb-3">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Have coupon?</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name=""
                  placeholder="Coupon code"
                />
                <span class="input-group-append">
                  <button class="btn btn-primary">Apply</button>
                </span>
              </div>
            </div>
          </form>
        </div>
        <!-- card-body.// -->
      </div>
      <!-- card.// -->

      <div class="card">
        <div class="card-body">
          <dl class="dlist-align">
            <dt>Total price:</dt>
            <dd class="text-right">{{ cartTotal | currency: "EUR" }}</dd>
          </dl>
          <dl class="dlist-align">
            <dt>Discount:</dt>
            <dd class="text-right text-danger">- €0.00</dd>
          </dl>
          <dl class="dlist-align">
            <dt>Total:</dt>
            <dd class="text-right text-dark b">
              <strong>{{ cartTotal | currency: "EUR" }}</strong>
            </dd>
          </dl>
          <hr />
          <p class="text-center mb-3">
            <img src="assets/images/stripe.png" height="56" />
          </p>
          <form novalidate [formGroup]="stripeTest">
            <input
              type="text"
              [(ngModel)]="name2"
              formControlName="name"
              class="form-control mb-3"
            />
            <br />
            <ngx-stripe-card
              [options]="cardOptions"
              [elementsOptions]="elementsOptions"
            ></ngx-stripe-card>
            <p class="h6 text-danger">{{ error }}</p>
            <p class="h6 text-success">{{ success }}</p>
            <!-- <button type="submit" class="btn btn-primary btn-send mt-2">
              CREATE TOKEN
            </button> -->

            <button
              (click)="onCheckout()"
              type="submit"
              class="btn btn-primary btn-block mt-3 mb-2"
            >
              Make Purchase {{ cartTotal | currency: "EUR" }}
            </button>
          </form>
          <button routerLink="/" class="btn btn-light btn-block mb-2">
            Continue Shopping
          </button>
        </div>
        <!-- card-body.// -->
      </div>
      <!-- card.// -->
    </aside>
    <!-- col.// -->
  </div>
</div>
