<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="d-flex col-lg-3 col-sm-4 col-md-4 col-5">
          <a routerLink="/" class="brand-wrap mb-0">
            <img class="logo" src="assets/images/logo.png" />
            <img
              class="logo logo1"
              src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196"
            />
          </a>
          <!-- brand-wrap.// -->
        </div>
        <div
          class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block"
        ></div>

        <!-- col.// -->
        <div class="d-flex col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
          <div class="d-flex justify-content-end">
            <a routerLink="/cart" class="widget-header mr-3">
              <div class="icon">
                <i
                  class="icon-sm rounded-circle border fa fa-shopping-cart"
                ></i>
                <span class="notify">{{
                  cartData.data[0].numInCart !== 0 ? cartData.data.length : 0
                }}</span>
              </div>
            </a>
            <a href="#" class="widget-header mr-3">
              <div class="icon">
                <i class="icon-sm rounded-circle border fa fa-heart"></i>
              </div>
            </a>

            <div class="widget-header dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                class="dropdown-toggle"
                data-offset="20,10"
                aria-expanded="false"
              >
                <div class="icon icon-sm rounded-circle border">
                  <i class="fa fa-user" *ngIf="!username"></i>
                  <ngx-avatar
                    *ngIf="username"
                    name="{{ username }}"
                  ></ngx-avatar>
                </div>
                <span class="sr-only">Profile actions</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-start"
                style="
                  position: absolute;
                  will-change: transform;
                  top: 0px;
                  left: 0px;
                  transform: translate3d(-100px, 46px, 0px);
                "
              >
                <!-- {{ authState === false ? "LOGIN" : "My Account" }} -->
                <a
                  class="dropdown-item"
                  routerLink="{{ authState === false ? '/login' : '/profile' }}"
                  >{{ authState === false ? "Login" : "My Account" }}</a
                >
                <a
                  class="dropdown-item"
                  routerLink="{{ authState === false ? '/register' : '' }}"
                  >{{ authState === false ? "Register" : "" }}</a
                >

                <!-- <a class="dropdown-item" href="#">My orders</a>
                <hr class="dropdown-divider" /> -->
                <a class="dropdown-item" (click)="logOut()">{{
                  authState === true ? "Log out" : ""
                }}</a>
              </div>
              <!--  dropdown-menu .// -->
            </div>
            <!-- widget-header .// -->
          </div>
          <!-- widgets-wrap.// -->
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main .// -->

  <nav class="navbar navbar-expand-md navbar-main border-bottom">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#dropdown6"
      >
        <span class="navbar-toggler-icon bg-light"></span>
      </button>

      <div class="collapse navbar-collapse" id="dropdown6">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown"></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/allproducts">All Products</a>
          </li>
          <li class="nav-item">
            <a
              *ngIf="role === 777 ? true : false"
              class="nav-link"
              routerLink="{{ role === 777 ? '/admin' : '' }}"
              >Admin</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
