<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <!-- filter-group .// -->
          <article class="filter-group">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Categories</h5>

                <label
                  class="custom-control custom-radio"
                  *ngFor="let categories of categories.categories; index as i"
                >
                  <input
                    type="radio"
                    name="myfilter_radio"
                    class="custom-control-input"
                  />
                  <div class="custom-control-label">
                    {{ categories.nom }}
                  </div>
                </label>
              </div>
            </div>
          </article>
          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">{{ products.length }} Items found </span>
            <select class="mr-2 form-control">
              <option>Latest items</option>
              <option>Trending</option>
              <option>Most Popular</option>
              <option>Cheapest</option>
            </select>
            <!-- <div class="btn-group">
              <a
                href="#"
                class="btn btn-outline-secondary active"
                data-toggle="tooltip"
                title=""
                data-original-title="List view"
              >
                <i class="fa fa-bars"></i
              ></a>
              <a
                href="#"
                class="btn btn-outline-secondary"
                data-toggle="tooltip"
                title=""
                data-original-title="Grid view"
              >
                <i class="fa fa-th"></i
              ></a>
            </div> -->
          </div>
        </header>
        <!-- sect-heading -->

        <article
          class="card card-product-list"
          *ngFor="
            let product of products
              | paginate
                : {
                    itemsPerPage: 3,
                    currentPage: page,
                    totalItems: totalLength
                  };
            index as i
          "
        >
          <div class="row no-gutters">
            <aside class="col-md-3">
              <a class="img-wrap">
                <span class="badge badge-danger"> NEW </span>
                <img
                  src="assets/img/{{ product['photo'] }}"
                  (click)="selectProduct(product['idVinyl'])"
                />
              </a>
            </aside>
            <!-- col.// -->
            <div class="col-md-6">
              <div class="info-main">
                <a class="h5 title"> {{ product["nomVinyl"] }} </a>
                <div class="rating-wrap mb-3">
                  <!-- <ul class="rating-stars">
                    <li style="width: 80%" class="stars-active">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul> -->
                  <div class="label-rating">
                    <p
                      class="{{
                        product['quantite_dispo']
                          ? 'text-success'
                          : 'text-danger'
                      }}"
                    >
                      In Stock: {{ product["quantite_dispo"] }}
                    </p>
                  </div>
                </div>
                <!-- rating-wrap.// -->

                <p>
                  <!-- {{ product["description"] }} -->
                  {{
                    product["description"].length > 20
                      ? (product["description"] | slice: 0:100) + ".."
                      : product["description"]
                  }}
                </p>
              </div>
              <!-- info-main.// -->
            </div>
            <!-- col.// -->
            <aside class="col-sm-3">
              <div class="info-aside">
                <div class="price-wrap">
                  <span class="price h5">
                    {{ prices[i] | currency: "EUR" }}
                  </span>
                  <!-- <del class="price-old"> $198</del> -->
                </div>
                <!-- info-price-detail // -->
                <p class="text-success">Free reservation</p>
                <br />
                <p>
                  <a
                    class="btn btn-primary btn-block"
                    (click)="selectProduct(product['idVinyl'])"
                  >
                    Details
                  </a>
                  <button
                    class="btn btn-light btn-block"
                    [disabled]="product['quantite_dispo'] < 1"
                    (click)="addToCart(product['idVinyl'])"
                  >
                    <i class="fa fa-shopping-cart"></i>
                    <span class="text">Add to Cart</span>
                  </button>
                </p>
              </div>
              <!-- info-aside.// -->
            </aside>
            <!-- col.// -->
          </div>
          <!-- row.// -->
        </article>
        <pagination-controls
          (pageChange)="page = $event"
          style="bottom: 0"
        ></pagination-controls>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
